# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=dumbbell
DB_USER=admin
DB_PASSWORD=admin

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=your-super-strong-and-long-secret-key-that-is-at-least-256-bits
JWT_EXPIRATION=86400000
